body {
    background-color: aliceblue;
    text-align: center;
}

h1 {
    background-color: cornflowerblue;
}

form {
    background-color: lightseagreen;
    padding: 20px 0px;
}

.rounddiv {
    background-color: rgba(100, 148, 237, 0.527);
    margin: 30px 0px;
    padding: 1px 0px;
}

.otherPlayerName {
    padding-left: 22px;
}

#gameNameLabel {
    padding-left: 39px;
}

#winningPlayerLabel {
    padding-left: 20px;
}

#roundNameLabel {
    padding-left: 35px;
}