body {
    background-color: aliceblue;
    text-align: center;
}

h1 {
    background-color: cornflowerblue;
}

.rounddiv {
    background-color: deepskyblue;
}

.otherPlayerName {
    padding-left: 22px;
}

#gameNameLabel {
    padding-left: 42px;
}

#winningPlayerLabel {
    padding-left: 20px;
}

#roundNameLabel {
    padding-left: 35px;
}